.navbar {
  background-color: #4B0082; /*#82039a;*/
}

a {
  color: #000080;
}

footer {
  background-color: #4B0082;
  color: white;
  padding: 15px;
  font-size: 8pt;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;
  } 
}

.jumbotron {
  background-image: url("../images/mtkenyasmall.jpg");
  background-size: cover;
}

#mtkenya {
  border-radius: 0px;
  width: 100%;
}

#logoRow {
  padding: 1rem;
}

#myTweet {
  background: #4B0082;
}

/*p {
  max-width: 60rem;
*/}